In [ ]:
# Main Script to Load, Transform and Analyse data for Final Assigment

In [1]:
## Data load from local file "HM Land Registry - Price Paid Data property sales in Greater London - Raw Data.csv"

In [7]:
# Import required libraries
import pandas as pd
import numpy as np

# Load data from CSV file
df1 = pd.read_csv("Property sales in Greater London - 2018 - 2019.csv")
df2 = pd.read_csv("Property sales in Greater London - 2020 - 2023.csv")
# Merging both dataframes
df = pd.concat([df1, df2])

# Renaming columns from both DFs
keys = ['unique_id','price_paid','deed_date','postcode','property_type','new_build','estate_type','saon','paon','street','locality','town','district','county','transaction_category','linked_data_uri']
values = ['Id','Value','Purchased On','Postcode','Property Type','New Build','Estate Type','Saon','Paon','Street','Locality','Town','District','County','Transaction Category','URL']
dict_cols = dict(zip(keys, values))
df.rename(columns=dict_cols, inplace=True)
col_order = ['Id','Purchased On','Postcode','Property Type','Value','New Build','Estate Type','Transaction Category','Saon','Paon','Street','Locality','Town','District','County','URL']
df = df[col_order]

# Explore the data
print("Dataframe head:")
print(df.head())

print("Dataframe shape:")
print(df1.shape)
print(df2.shape)
print(df.shape)

print("Dataframe columns:")
print(df.columns)

Dataframe head:
                                     Id Purchased On Postcode Property Type  \
0  7E86B6FB-423C-458C-E053-6B04A8C0C84C   2018-11-30  BR1 1AA             F
1  9DBAD222-2B0C-6EB3-E053-6B04A8C0F257   2019-12-09  BR1 1AB             F
2  965B6D91-D514-95E4-E053-6C04A8C07729   2019-10-16  BR1 1AE             F
3  7E86B6FB-4232-458C-E053-6B04A8C0C84C   2018-11-23  BR1 1AF             F
4  9FF0D96A-1CCA-11ED-E053-6C04A8C06383   2019-07-05  BR1 1AF             F

    Value New Build Estate Type Transaction Category         Saon  \
0   99000         N           L                    A      FLAT 28
1  445000         N           L                    A  APARTMENT 1
2  255000         N           L                    B       FLAT 2
3  400000         N           L                    A      FLAT 12
4  380000         N           L                    A      FLAT 14

                      Paon        Street Locality     Town District  \
0              HENRY HOUSE  RINGERS ROAD      NaN  BROMLEY  BROMLEY
1  THE OLD POST OFFICE, 3B   EAST STREET      NaN  BROMLEY  BROMLEY
2         HAWKSWORTH HOUSE     TETTY WAY      NaN  BROMLEY  BROMLEY
3            WILLIAM HOUSE  RINGERS ROAD      NaN  BROMLEY  BROMLEY
4            WILLIAM HOUSE  RINGERS ROAD      NaN  BROMLEY  BROMLEY

           County                                                URL
0  GREATER LONDON  http://landregistry.data.gov.uk/data/ppi/trans...
1  GREATER LONDON  http://landregistry.data.gov.uk/data/ppi/trans...
2  GREATER LONDON  http://landregistry.data.gov.uk/data/ppi/trans...
3  GREATER LONDON  http://landregistry.data.gov.uk/data/ppi/trans...
4  GREATER LONDON  http://landregistry.data.gov.uk/data/ppi/trans...
Dataframe shape:
(202077, 16)
(287275, 16)
(489352, 16)
Dataframe columns:
Index(['Id', 'Purchased On', 'Postcode', 'Property Type', 'Value', 'New Build',
       'Estate Type', 'Transaction Category', 'Saon', 'Paon', 'Street',
       'Locality', 'Town', 'District', 'County', 'URL'],
      dtype='object')